<script>
  var newsForm = document.querySelector('#form_id');

  newsForm.addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission

    var formData = new FormData(newsForm); // Get form data

    // Fetch API to submit form data
    fetch(newsForm.action, {
      method: 'POST',
      body: formData
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json(); // Parse response as JSON
    })
    .then(data => {
      // Handle success response
      console.log(data);
      // Optionally, display a success message or perform other actions
    })
    .catch(error => {
      // Handle errors
      console.error('Fetch error:', error);
      // Optionally, display an error message or perform other actions
    });
  });
</script>
{% liquid
  assign form_id = form_id | default: nil
  assign newsletter_tags = 'prospect'

  if template contains 'password'
    assign newsletter_tags = newsletter_tags | append: ', password page'
  else
    assign newsletter_tags = newsletter_tags | append: ', newsletter'
  endif

  unless input_id
    assign input_id = 'newsletter_email-' | append: section.id
  endunless
%}

<div class="newsletter">
  {% form 'customer', id: form_id %}
    {% if form.posted_successfully? %}
      <p class="newsletter-success">
        {{ 'general.newsletter.success' | t }}
      </p>
    {% else %}
      <input
        type="hidden"
        name="contact[tags]"
        value="{{ newsletter_tags }}"
      >

      <div class="form-fields-inline pxs-newsletter-form-fields">
        <div class="form-field newsletter-input">
          <input
            class="
              form-field-input
              form-field-text
            "
            type="email"
            id="{{ input_id }}"
            name="contact[email]"
            aria-label="{{ 'general.newsletter.placeholder' | t }}"
          >

          <label
            class="form-field-title"
            for="{{ input_id }}"
          >
            {{ 'general.newsletter.placeholder' | t }}
          </label>
        </div>

        <div class="form-field newsletter-submit">
          <button
            class="button-primary"
            name="subscribe"
            type="submit"
          >
            {{ 'general.newsletter.subscribe' | t }}
          </button>
        
        </div>
      </div>
    {% endif %}
  {% endform %}
</div>
<script>
  var newsbtn = document.querySelector(".newsletter-submit button")
  newsbtn.addEventListener("click", function(e) {
    e.preventDefault();
     console.log("clicked");
  })  
  
</script>



