{% comment %}
  @param context {String}
    The context, either 'product' or 'cart'

  @param item {Object}
    The cart item object
{% endcomment %}

{% assign quantity_increment_value = settings.quantity_increment_value %}

<quantity-selector
  class="quantity-selector"
  data-quantity-selector
>
  <label
    class="quantity-selector__label"
    for="
      {%- if context == 'product' -%}
        quantity-selector__input-{{ section.id }}
      {%- else -%}
        updates_{{ item.key }}
      {%- endif -%}
    "
  >
    {{- 'general.general.quantity' | t -}}
  </label>

  <div class="quantity-selector__wrapper">
    <div
      class="
        quantity-selector__button-wrapper
        quantity-selector__button-wrapper--minus
        quantity-selector__button-wrapper--disabled
      "
      data-button-wrapper
      data-button-wrapper-minus
    >
      <button
        class="
          quantity-selector__button
          quantity-selector__button--minus
        "
        type="button"
        name="minus"
        aria-label="{{ 'general.accessibility.decrease_quantity' | t: increment: quantity_increment_value }}"
        data-quantity-minus
      >
        {%
          render 'icon-library',
          id: 'icon-minus',
        %}
      </button>
    </div>

    <input
      class="quantity-selector__input"
      id="
        {%- if context == 'product' -%}
          quantity-selector__input-{{ section.id }}
        {%- else -%}
          updates_{{ item.key }}
        {%- endif -%}
      "
      aria-label="{{ 'general.general.quantity' | t }}"
      name="
        {%- if context == 'product' -%}
          quantity
        {%- else -%}
          updates[]
        {%- endif -%}
      "
      type="number"
      min="1"
      step="1"
      value="
        {%- if context == 'product' -%}
          {{- quantity_increment_value -}}
        {%- else -%}
          {{- item.quantity -}}
        {%- endif -%}
      "
      data-quantity-input
      data-increment-value="{{- quantity_increment_value -}}"
    >

    <div
      class="
        quantity-selector__button-wrapper--plus
        quantity-selector__button-wrapper
      "
      data-button-wrapper
      data-button-wrapper-plus
    >
      <button
        class="
          quantity-selector__button
          quantity-selector__button--plus
        "
        type="button"
        name="plus"
        aria-label="{{ 'general.accessibility.increase_quantity' | t: increment: quantity_increment_value }}"
        data-quantity-plus
      >
        {%
          render 'icon-library',
          id: 'icon-plus',
        %}
      </button>
    </div>
  </div>
</quantity-selector>
